<div class="row">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="/Recipes/APIRecipeList">Recipes</a>
        </li>
        <li class="list-group-item">
            <a href="/Recipes/APICuisineList">Cuisines</a>
        </li>
    </ul>
</div>
