@{
    ViewData["Title"] = "Home Page";
}
<body >
    <style>
        body{
            background-image:url(/images/1ingredientspic.png);
            height:100%;
            background-position:center;
            background-repeat:no-repeat;
            background-size:cover;
        }
    </style>
    <div class="display-1 homecenter">
       <span style="font-family:Forte;"> <a style="color:#fe7e95" asp-controller="Recipes" asp-action="Index">Explore Recipes</a></span>
    </div>
</body>
